{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1>Selecione o estado e o ano</h1>
  <form action="/histograma" method="POST">
    <div class="row">
      <div class="col-3 form-group">
        <label for="estado">Estado:</label>
        <select class="form-control" id="estado" name="estado">
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
        </select>
      </div>
      <div class="col-3 form-group">
        <label for="ano">Ano:</label>
        <input type="number" class="form-control" id="ano" name="ano" min="2004" max="2020" step="1" value="2020" required>
      </div>
    </div>


    <br>
    <button class="btn btn-success">Gerar Gráfico</button>
  </form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="module" src="{{ url_for('static', filename='js/estado.js') }}"></script>
{% endblock %}